 .card{
    height: 8rem;
    width: 25rem;
    background-color: var(--item-color);
    margin-bottom: 15px;
    margin-right: 5px;
    border-radius: 25px;
    background-color: #a58b86;
    border: 1px solid black;
  }
  
 .card-body {
    text-align: left;
  }
  
  span {
    text-align: right;
    font-size: 15px;
    color: white;
    font-weight: 600;
  }
   .card-title {
    font-weight: 700;
    color: black;
  }
  