.title1{
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    margin: 70px 0 30px;
    

}

.title1 h1 {
    font-size: 32px;
    color: black;
    margin-top: 5px;
    text-transform: none;
    
}